<#include 'header.html'>

<div class="container">
	<form method="post"
		  enctype="multipart/form-data">
		<input type="hidden" name="code" value="${product.code}">
		<input value="${product.name}"
			name="name" 
			class="form-control"
			placeholder="Product Name" >
		<textarea class="form-control" name="detail"
			placeholder="Detail">${product.detail}</textarea>
		<input value="${product.price}"
			name="price" 
			class="form-control"
			placeholder="Product Price" >
		<input type="file" name="photo">
		<br>
		<button class="btn btn-primary">Update</button>
	</form>
</div>


<#include 'footer.html'>
